tags
tmp
*.un~
*.swp
*.swo
*.pyc
.ropeproject
temp
example-webapp
build
**/__pycache__
**/.venv
**/.gradle
**/bower_components
**/node_modules
**/npm-debug.log
**/.goenv
misc_sources/haskell/**/*.hi
misc_sources/haskell/**/*.o
**/todo.log
