
html {
  min-width: 1040px;
  margin: 0;
}

body {
  font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em 0 4em 0;
}

#examples {
  background: #ddd;
  height: 460px;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 0;
  position: relative;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

#examples:after,
#examples:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: red;
  height: 16px;
  z-index: 2;
}

#examples:before {
  bottom: -16px;
  box-shadow: 0px -8px 16px rgba(0,0,0,.3);
}

#examples:after {
  top: -16px;
  box-shadow: 0px 8px 16px rgba(0,0,0,.3);
}

#examples-deep {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#examples svg,
#examples canvas {
  position: absolute;
}

.example-mesh {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.example-anchor path {
  fill: none;
  pointer-events: all;
}

.example-anchor path:hover {
  stroke: #000;
  stroke-width: 2px;
}

h1 {
  color: #555;
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -2px;
  white-space: nowrap;
  margin-top: 20px;
}

h1,
h2 {
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: 2em;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 8em;
}

header aside {
  margin-top: 82px;
}

header aside,
footer aside {
  color: #636363;
  text-align: right;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  width: 180px;
}

.column {
  margin: auto;
  width: 720px;
  padding-right: 240px;
  position: relative;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre,
code {
  font-family: "Menlo", monospace;
  -webkit-text-size-adjust: 100%;
}

code {
  line-height: 1em;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}
